/* =================================== */
/* KEYFRAME ANIMATIONS              */
/* =================================== */

/* --- Generic Entrance --- */
@keyframes fade-and-slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* --- Scroll Down Indicator --- */
@keyframes shooting-arrows {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* --- Button Effects --- */
/* Used for the glare effect on .btn-primary */
@keyframes glare {
  0% {
    left: -100%;
  }
  5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes shoot-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(10px);
    }
    51% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}